apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "quay-provisioner.fullname" . }}
spec:
  template:
    spec:
      serviceAccountName: {{ include "quay-provisioner.serviceAccountName" . }}
      restartPolicy: Never
      containers:
        - name: provisioner
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          env:
            - name: DISABLE_TLS_VERIFY
              value: "{{ .Values.settings.disableTlsVerify }}"
            - name: API_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: API_HOST
            - name: API_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: API_PORT
            - name: API_BASE_PATH
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: API_BASE_PATH
            - name: API_AUTH_TYPE
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: API_AUTH_TYPE
            - name: API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: API_TOKEN
            {{- if .Values.caBundle.enabled }}
            - name: {{ .Values.caBundle.envVar }}
              value: {{ .Values.caBundle.mountPath }}
            {{- end }}
          volumeMounts:
            - name: pipelines
              mountPath: {{ .Values.pipelines.mountPath }}
            {{- if .Values.caBundle.enabled }}
            - name: custom-ca
              mountPath: {{ .Values.caBundle.mountPath }}
              subPath: custom-ca.pem
            {{- end }}
      volumes:
        - name: pipelines
          configMap:
            name: {{ .Values.pipelines.configMapName }}
        {{- if .Values.caBundle.enabled }}
        - name: custom-ca
          configMap:
            name: {{ .Values.caBundle.configMapName }}
        {{- end }}