apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "quay-provisioner.fullname" . }}
spec:
  template:
    spec:
      serviceAccountName: {{ include "quay-provisioner.serviceAccountName" . }}
      restartPolicy: Never
      containers:
        - name: provisioner
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          env:
            - name: QUAY_API_BASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: QUAY_API_BASE_URL
            - name: QUAY_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: QUAY_API_TOKEN
          volumeMounts:
            - name: pipelines
              mountPath: {{ .Values.pipelines.mountPath }}
      volumes:
        - name: pipelines
          configMap:
            name: {{ .Values.pipelines.configMapName }}