image:
  repository: ghcr.io/immxmmi/quay-provisioner
  tag: "latest"

serviceAccount:
  name: quay-provisioner

secrets:
  name: quay-config

  apiBaseUrl: ""
  apiToken: ""

  # (ESO usw.)
  existingSecret: ""   # z.B. "quay-config-external"

pipelines:
  configMapName: quay-provisioner-pipelines
  mountPath: /app/pipelines

settings:
  disableTlsVerify: false

caBundle:
  enabled: false
  configMapName: custom-ca-bundle
  mountPath: /etc/ssl/certs/custom-ca.pem
  envVar: CA_BUNDLE
